{% extends "base.html" %}
{% block content %}
    <h1 style="text-align: center;">Build a Blog</h1>
    {% if blog_list|length ==0 %}
        <p>No blog posts yet</p>
    {% else %}
        {% for blog in blog_list %}
        <form action = '/blog' method="POST">        
        
        <h1><a method="GET" href="/blog?id={{blog.id}}"value='{{blog.id}}'><strong>{{blog.blog_title}}</strong></a></h1>
        <p>{{blog.blog_content}}</p>
        </form>    
        {% endfor %}

    {% endif %}

{% endblock %}